<div class="container">
  <div class="row mt-4">
    <div class="col-4 text-center bg-light">
      <h2>今日登録された予約</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 mx-auto text-center">
            <table class="table table-bordered">
        <thead class="bg-light">
          <tr>
            <td scope="col" style="width: 15%">幹事</td>
            <td scope="col" style="width: 30%">団体名</td>
            <td scope="col" style="width: 15%">実施日</td>
            <td scope="col" style="width: 15%">スタート時間</td>
            <td scope="col" style="width: 10%">人数</td>
            <td scope="col" style="width: 15%">ステータス</td>
          </tr>
        </thead>
        <tbody>
          <% @reservation_today.each do |reservation| %>
            <% @start_date = StartDate.find_by(start_date: reservation.start_date) %>
            <tr>
              <td>
                <%= link_to(admin_user_path(reservation.user_id), style: "color: black; text-decoration: underline") do %>
                  <%= reservation.user.last_name %> <%= reservation.user.first_name %>
                <% end %>
              </td>
              <td>
                <%= link_to(admin_reservation_path(reservation.id), style: "color: black; text-decoration: underline") do %>
                  <%= reservation.group_name %>
                <% end %>
              </td>
              <td>
                <%= link_to(admin_start_date_path(@start_date.id), style: "color: black; text-decoration: underline") do %>
                  <%= reservation.start_date %>
                <% end %>
              </td>
              <td><%= reservation.start_time.strftime("%H:%M") %></td>
              <td><%= reservation.num_children + reservation.num_students + reservation.num_adults %></td>
              <% if reservation.is_active == true %>
                <td class="text text-success">有効</td>
              <% else %>
                <td class="text text-danger">キャンセル</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-4 text-center bg-light">
      <h2>昨日登録された予約</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 mx-auto text-center">
            <table class="table table-bordered">
        <thead class="bg-light">
          <tr>
            <td scope="col" style="width: 15%">幹事</td>
            <td scope="col" style="width: 30%">団体名</td>
            <td scope="col" style="width: 15%">実施日</td>
            <td scope="col" style="width: 15%">スタート時間</td>
            <td scope="col" style="width: 10%">人数</td>
            <td scope="col" style="width: 15%">ステータス</td>
          </tr>
        </thead>
        <tbody>
          <% @reservation_yesterday.each do |reservation| %>
            <% if reservation.start_date == Date.current && reservation.is_active == true %>
              <tr class="bg-success">
                <td>
                  <%= link_to(admin_user_path(reservation.user_id), style: "color: black; text-decoration: underline") do %>
                    <%= reservation.user.last_name %> <%= reservation.user.first_name %>
                  <% end %>
                </td>
                <td>
                  <%= link_to(admin_reservation_path(reservation.id), style: "color: black; text-decoration: underline") do %>
                    <%= reservation.group_name %>
                  <% end %>
                </td>
                <td><%= reservation.start_date %></td>
                <td><%= reservation.start_time.strftime("%H:%M") %></td>
                <td><%= reservation.num_children + reservation.num_students + reservation.num_adults %></td>
                <td>有効</td>
              </tr>
            <% else %>
              <tr>
                <td>
                  <%= link_to(admin_user_path(reservation.user_id), style: "color: black; text-decoration: underline") do %>
                    <%= reservation.user.last_name %> <%= reservation.user.first_name %>
                  <% end %>
                </td>
                <td>
                  <%= link_to(admin_reservation_path(reservation.id), style: "color: black; text-decoration: underline") do %>
                    <%= reservation.group_name %>
                  <% end %>
                </td>
                <td><%= reservation.start_date %></td>
                <td><%= reservation.start_time.strftime("%H:%M") %></td>
                <td><%= reservation.num_children + reservation.num_students + reservation.num_adults %></td>
                <% if reservation.is_active == true %>
                  <td class="text text-success">有効</td>
                <% else %>
                  <td class="text text-danger">キャンセル</td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>