<div class="container">
  <div class="row">
    <div class="col-4 mt-3">
      <h2 class="bg-light text-center">予約情報確認画面</h2>
    </div>
  </div>

  <% @children_fee = @reservation.num_children * 400 %>
  <% @students_fee = @reservation.num_students * 500 %>
  <% @adults_fee = @reservation.num_adults * 600 %>
  <% @sum = (@children_fee + @students_fee + @adults_fee) * @reservation.num_games %>

  <div class="row mt-4">
    <div class="col-8 mx-auto">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="bg-light">団体名</td>
            <td><%= @reservation.group_name %> 様</td>
          </tr>
          <tr>
            <td class="bg-light">中学生以下の人数</td>
            <td><%= @reservation.num_children %> 人</td>
          </tr>
          <tr>
            <td class="bg-light">高校・大学・専門学生の人数</td>
            <td><%= @reservation.num_students %> 人</td>
          </tr>
          <tr>
            <td class="bg-light">一般の人数</td>
            <td><%= @reservation.num_adults %> 人</td>
          </tr>
          <tr>
            <td class="bg-light">ゲーム数</td>
            <td><%= @reservation.num_games %> ゲーム</td>
          </tr>
          <tr>
            <td class="bg-light">使用レーン数</td>
            <td><%= @reservation.num_lanes %> レーン</td>
          </tr>
          <tr>
            <td class="bg-light">スタート日時</td>
            <td><%= @reservation.start_date %> <%= @reservation.start_time.strftime("%H:%M") %></td>
          </tr>
          <tr>
            <td class="bg-light">備考</td>
            <td><%= @reservation.note %></td>
          </tr>
          <tr>
            <td class="bg-light">ゲーム代</td>
            <td><%= @sum.to_s(:delimited) %> 円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <%= form_with model: @reservation, url: create_path, method: :post do |f| %>
    <%= f.hidden_field :group_name %>
    <%= f.hidden_field :num_children %>
    <%= f.hidden_field :num_students %>
    <%= f.hidden_field :num_adults %>
    <%= f.hidden_field :num_games %>
    <%= f.hidden_field :num_lanes %>
    <%= f.hidden_field :start_date %>
    <%= f.hidden_field :start_time %>
    <%= f.hidden_field :note %>
    <%= f.hidden_field :games_fee, :value => @sum %>
    <div class="row mt-4">
      <div class="h5 col-10 mx-auto text-center">
        メンバー表の記入はこちらから（任意）
        <%= f.submit "メンバー表入力", name: :member, class: "btn btn-info" %>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-4"></div>
      <div class="col-2 text-center">
        <%= f.submit "予約を確定する", class: "btn btn-success" %>
      </div>
      <div class="col-2 text-center">
        <%= f.submit "戻る", name: :back, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

</div>