<div class="container">
  <div class="row">
    <div class="col-4 mt-3">
      <h2 class="bg-light text-center">予約情報確認画面</h2>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-6 mx-auto">
      <p class="text-center bg-danger text-white">
        ※ 前の画面に戻るときは、必ず「戻る」ボタンを押してください。
      </p>
    </div>
  </div>

  <% @children_fee = @reservation.num_children * 400 %>
  <% @students_fee = @reservation.num_students * 500 %>
  <% @adults_fee = @reservation.num_adults * 600 %>
  <% @service_fee = (@reservation.num_children + @reservation.num_students + @reservation.num_adults) * 100 %>
  <!-- メンバー表があれば、一人あたり100円引きされる。 -->
  <% if @reservation.lane_details.presence %>
    <% @sum = (@children_fee + @students_fee + @adults_fee) * @reservation.num_games - @service_fee %>
  <% else %>
    <% @sum = (@children_fee + @students_fee + @adults_fee) * @reservation.num_games %>
  <% end %>
  <div class="row mt-4">
    <div class="col-8 mx-auto">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="bg-light">団体名</td>
            <td><%= @reservation.group_name %> 様</td>
          </tr>
          <tr>
            <td class="bg-light">中学生以下の人数</td>
            <td><%= @reservation.num_children %> 人</td>
          </tr>
          <tr>
            <td class="bg-light">高校・大学・専門学生の人数</td>
            <td><%= @reservation.num_students %> 人</td>
          </tr>
          <tr>
            <td class="bg-light">一般の人数</td>
            <td><%= @reservation.num_adults %> 人</td>
          </tr>
          <tr>
            <td class="bg-light">ゲーム数</td>
            <td><%= @reservation.num_games %> ゲーム</td>
          </tr>
          <tr>
            <td class="bg-light">使用レーン数</td>
            <td><%= @reservation.num_lanes %> レーン</td>
          </tr>
          <tr>
            <td class="bg-light">スタート日時</td>
            <td><%= @reservation.start_date %> <%= @reservation.start_time.strftime("%H:%M") %></td>
          </tr>
          <tr>
            <td class="bg-light">備考</td>
            <td><%= @reservation.note %></td>
          </tr>
          <tr>
            <td class="bg-light">ゲーム代</td>
            <td><%= @sum.to_s(:delimited) %> 円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <% if @reservation.lane_details.presence && @reservation.lane_details[0].name_1.presence %>
    <div class="row mt-4">
      <div class="col-12 mx-auto text-center">
        <table class="table table-bordered">
          <thead class="bg-light">
            <tr>
              <td></td>
              <td>第１投球者</td>
              <td>第２投球者</td>
              <td>第３投球者</td>
              <td>第４投球者</td>
            </tr>
          </thead>
          <tbody>
            <% @reservation.lane_details.each do |lane_detail| %>
              <tr>
                <td><%= @reservation.lane_details.index(lane_detail) + 1 %> レーン</td>
                <td><%= lane_detail.name_1 %></td>
                <td><%= lane_detail.name_2 %></td>
                <td><%= lane_detail.name_3 %></td>
                <td><%= lane_detail.name_4 %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

  <%= form_with model: @reservation, url: create_path, method: :post do |f| %>
    <%= f.hidden_field :group_name %>
    <%= f.hidden_field :num_children %>
    <%= f.hidden_field :num_students %>
    <%= f.hidden_field :num_adults %>
    <%= f.hidden_field :num_games %>
    <%= f.hidden_field :num_lanes %>
    <%= f.hidden_field :start_date %>
    <%= f.hidden_field :start_time %>
    <%= f.hidden_field :note %>
    <%= f.hidden_field :games_fee, :value => @sum %>

    <% if @reservation.start_date >= Date.current.since(3.days) %>
      <% if @reservation.lane_details.presence %>
        <%= f.fields_for :lane_details do |field| %>
          <%= field.hidden_field :name_1 %>
          <%= field.hidden_field :name_2 %>
          <%= field.hidden_field :name_3 %>
          <%= field.hidden_field :name_4 %>
        <% end %>
        <div class="row mt-4">
          <div class="h5 col-10 mx-auto text-center">
            メンバー表を書き直す
            <%= f.submit "メンバー表入力", name: :member, class: "btn btn-info" %>
          </div>
        </div>
      <% else %>
        <div class="row mt-4">
          <div class="h5 col-10 mx-auto text-center">
            メンバー表の記入はこちらから（任意）
            <%= f.submit "メンバー表入力", name: :member, class: "btn btn-info" %>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-8 mx-auto">
            メンバー表を記入していただくと、1ゲーム目の料金が一人あたり100 円安くなります。
            ただし修正が必要な場合は、再度予約し直していただくこともありますので、人数が
            確定してからメンバー表を記入することを推奨します。期限は実施日の3日前までとなります。
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="row mt-4">
      <div class="col-4"></div>
      <div class="col-2 text-center">
        <%= f.submit "予約を確定する", class: "btn btn-success" %>
      </div>
      <div class="col-2 text-center">
        <%= f.submit "戻る", name: :back, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

</div>