<div class="container">
  <div class="row mt-4">
    <div class="col-12 text-center bg-light">
      <h2><%= @reservation.start_date %> <%= @reservation.group_name %>様のメンバー表入力</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 mx-auto text-center">
      <table class="table table-bordered">
        <thead class="bg-light">
          <tr>
            <td></td>
            <td>第１投球者</td>
            <td>第２投球者</td>
            <td>第３投球者</td>
            <td>第４投球者</td>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% @lane_details.each do |lane_detail| %>
            <%= form_with model: lane_detail, url: lane_detail_path(lane_detail.id), method: :patch do |f| %>
              <tr>
                <td><%= @lane_details.index(lane_detail) + 1 %> レーン</td>
                <td><%= f.text_field :name_1, autofocus: true, style: "border: none; outline: none" %></td>
                <td><%= f.text_field :name_2, style: "border: none; outline: none" %></td>
                <td><%= f.text_field :name_3, style: "border: none; outline: none" %></td>
                <td><%= f.text_field :name_4, style: "border: none; outline: none" %></td>
                <td><%= f.submit "更新", class: "btn btn-success" %></td>
                <td><%= link_to "削除", lane_detail_path(lane_detail.id), method: :delete, class: "btn btn-danger"; %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-6">
      <%= form_with model: @lane_detail, url: lane_details_path, method: :post do |f| %>
        <%= f.hidden_field :reservation_id, :value => @reservation.id %>
        <%= f.hidden_field :name_1, :value => "" %>
        <%= f.hidden_field :name_2, :value => "" %>
        <%= f.hidden_field :name_3, :value => "" %>
        <%= f.hidden_field :name_4, :value => "" %>
        <%= f.submit "レーンを追加 ＋" %>
      <% end %>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-8 mx-auto text-center">
      <% @service_fee = (@reservation.num_children + @reservation.num_students + @reservation.num_adults) * 100 %>
      <% @updated_fee = @reservation.games_fee - @service_fee %>
      <%= form_with model: @reservation, url: reservation_path(@reservation.id), method: :patch do |f| %>
        <%= f.hidden_field :games_fee, :value => @updated_fee %>
        <%= f.submit "メンバー表を送信する", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>

</div>