<div class="container">
  <div class="row">
    <div class="col-4 mt-3">
      <h2 class="bg-light text-center">スタート時間入力</h2>
      <% if @reservation.errors.any? %>
        <h4><%= @reservation.errors.count %>件のエラーが発生しました</h4>
        <ul>
          <% @reservation.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-6 mx-auto">
      <p class="text-center bg-danger text-white">
        ※ 前の画面に戻るときは、必ず「戻る」ボタンを押してください。
      </p>
    </div>
  </div>

  <%= form_with model: @reservation, url: confirm_path, method: :post do |f| %>
    <% @num_members = @reservation.num_children + @reservation.num_students + @reservation.num_adults %>
    <% if @num_members % 4 == 0 %>
      <% @num_lanes = (@num_members / 4).floor %>
    <% else %>
      <% @num_lanes = (@num_members / 4).floor + 1 %>
    <% end %>
    <%= f.hidden_field :num_lanes, :value => @num_lanes %>
    <div class="row mt-2">
      <div class="col-3">
        <table class="table table-bordered">
          <thead class="bg-light">
            <tr>
              <td>時間</td>
              <td>残レーン数</td>
            </tr>
          </thead>
          <tbody>
            <% @start_date.start_times.first(10).each do |start_time| %>
              <tr>
                <td><%= start_time.start_time.strftime("%H:%M") %></td>
                <td><%= start_time.num_available_lanes %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="col-3">
        <table class="table table-bordered">
          <thead class="bg-light">
            <tr>
              <td>時間</td>
              <td>残レーン数</td>
            </tr>
          </thead>
          <tbody>
            <% @start_date.start_times.last(10).each do |start_time| %>
              <tr>
                <td><%= start_time.start_time.strftime("%H:%M") %></td>
                <td><%= start_time.num_available_lanes %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="col-6">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td class="h4" style="width: 50%">使用レーン数</td>
              <td class="h5" style="width: 50%"><%= @num_lanes %> レーン</td>
            </tr>
            <tr>
              <td class="h4" style="width: 50%">スタート時間</td>
              <td style="width: 50%"><%= f.time_select :start_time, start_hour: 11, end_hour: 20, minute_step: 30 %></td>
            </tr>
            <tr>
              <td colspan="2"><span class="h4">備考</span><span>（何か連絡事項があればこちらに記入してください）</span></td>
            </tr>
            <tr>
              <td colspan="2"><%= f.text_area :note, cols: "60%", rows: 5 %></td>
            </tr>
            <tr>
              <td class="text-center" style="width: 50%"><%= f.submit "確認画面へ進む", class: "btn btn-success" %></td>
              <td class="text-center" style="width: 50%"><%= f.submit "戻る", name: :back, class: "btn btn-primary" %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <%= f.hidden_field :group_name %>
    <%= f.hidden_field :num_children %>
    <%= f.hidden_field :num_students %>
    <%= f.hidden_field :num_adults %>
    <%= f.hidden_field :num_games %>
    <%= f.hidden_field :start_date %>
  <% end %>
</div>