<div class="container">
  <div class="row mt-4">
    <div class="col-4 text-center bg-light">
      <h2>予約履歴詳細</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-8 mx-auto">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="bg-light">団体名</td>
            <td><%= @reservation.group_name %> 様</td>
          </tr>
          <tr>
            <td class="bg-light">中学生以下の人数</td>
            <td><%= @reservation.num_children %> 人</td>
          </tr>
          <tr>
            <td class="bg-light">高校・大学・専門学生の人数</td>
            <td><%= @reservation.num_students %> 人</td>
          </tr>
          <tr>
            <td class="bg-light">一般の人数</td>
            <td><%= @reservation.num_adults %> 人</td>
          </tr>
          <tr>
            <td class="bg-light">ゲーム数</td>
            <td><%= @reservation.num_games %> ゲーム</td>
          </tr>
          <tr>
            <td class="bg-light">使用レーン数</td>
            <td><%= @reservation.num_lanes %> レーン</td>
          </tr>
          <tr>
            <td class="bg-light">スタート日時</td>
            <td><%= @reservation.start_date %> <%= @reservation.start_time.strftime("%H:%M") %></td>
          </tr>
          <tr>
            <td class="bg-light">備考</td>
            <td><%= @reservation.note %></td>
          </tr>
          <tr>
            <td class="bg-light">ゲーム代</td>
            <td><%= @reservation.games_fee.to_s(:delimited) %> 円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <% if @reservation.lane_details.presence %>
    <% if @reservation.lane_details[0].name_1.presence %>
      <div class="row mt-4">
        <div class="col-12 mx-auto text-center">
          <table class="table table-bordered">
            <thead class="bg-light">
              <tr>
                <td></td>
                <td>第１投球者</td>
                <td>第２投球者</td>
                <td>第３投球者</td>
                <td>第４投球者</td>
              </tr>
            </thead>
            <tbody>
              <% array = (1..@reservation.num_lanes).to_a %>
              <% array.each do |i| %>
                <tr>
                  <td><%= i %> レーン</td>
                  <td><%= @reservation.lane_details[i-1].name_1 %></td>
                  <td><%= @reservation.lane_details[i-1].name_2 %></td>
                  <td><%= @reservation.lane_details[i-1].name_3 %></td>
                  <td><%= @reservation.lane_details[i-1].name_4 %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @reservation.start_date >= Date.current %>
    <div class="row mt-2">
      <div class="col-4"></div>
      <div class="col-2 text-center">
        <%= link_to "戻る", reservations_path, class: "btn btn-primary" %>
      </div>
      <div class="col-2 text-center">
        <%= link_to "キャンセル", confirm_cancel_path(@reservation.id), class: "btn btn-danger" %>
      </div>
    </div>
  <% else %>
    <div class="row mt-2">
      <div class="col-8 mx-auto text-center">
        <%= link_to "戻る", reservations_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
