<div class="container">
  <div class="row mt-4">
    <div class="col-8 mx-auto text-center bg-light">
      <% days = ["日", "月", "火", "水", "木", "金", "土"] %>
      <h2><%= @start_date.start_date %> (<%= days[@start_date.start_date.wday] %>) の詳細</h2>
    </div>
  </div>

  <% if @start_date.is_active == true %>
    <div class="row mt-4">
      <div class="col-4 text-center">
        <table class="table table-bordered">
          <thead class="bg-light">
            <tr>
              <td>時間</td>
              <td>残レーン数</td>
            </tr>
          </thead>
          <tbody>
            <% @start_times_first.each do |start_time_first| %>
              <tr>
                <td><%= start_time_first.start_time.strftime("%H:%M") %></td>
                <td><%= start_time_first.num_available_lanes %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="col-4 text-center">
        <table class="table table-bordered">
          <thead class="bg-light">
            <tr>
              <td>時間</td>
              <td>残レーン数</td>
            </tr>
          </thead>
          <tbody>
            <% @start_times_second.each do |start_time_second| %>
              <tr>
                <td><%= start_time_second.start_time.strftime("%H:%M") %></td>
                <td><%= start_time_second.num_available_lanes %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="col-4 text-center">
        <table class="table table-bordered">
          <thead class="bg-light">
            <tr>
              <td scope="col" style="width: 50%">団体名</td>
              <td scope="col" style="width: 20%">人数</td>
              <td scope="col" style="width: 30%">スタート時間</td>
            </tr>
          </thead>
          <tbody>
            <% @reservations.each do |reservation| %>
              <tr>
                <td>
                  <%= link_to(admin_reservation_path(reservation.id), style: "color: black; text-decoration: underline") do %>
                    <%= reservation.group_name %>
                  <% end %>
                </td>
                <td><%= reservation.num_children + reservation.num_students + reservation.num_adults %></td>
                <td><%= reservation.start_time.strftime("%H:%M") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    <div class="row mt-5">
      <div class="col-12 text-center h1">予約不可能な日です</div>
    </div>
  <% end %>

  <div class="row mt-2">
    <div class="col-6 mx-auto text-center">
      <%= link_to "残レーン数を編集", edit_admin_start_date_path(@start_date.id), class: "btn btn-success" %>
    </div>
  </div>
</div>
