<div class="container">
  <div class="row">
    <div class="col-6 mt-3">
      <h2 class="bg-light text-center">
        <%= @user.last_name %> <%= @user.first_name %>さんの会員情報編集
      </h2>
      <% if @user.errors.any? %>
        <h4><%= @user.errors.count %>件のエラーが発生しました</h4>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <%= form_with model: @user, url: admin_user_path(@user.id), method: :patch do |f| %>
    <div class="row mt-4">
      <div class="col-1"></div>
      <div class="col-3">
        <p>名前</p>
      </div>
      <div class="col-1"></div>
      <div class="col-3">
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "w-100"; %>
      </div>
      <div class="col-1"></div>
      <div class="col-3">
        <%= f.text_field :first_name, autocomplete: "first_name", class: "w-100"; %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-1"></div>
      <div class="col-3">
        <p>フリガナ</p>
      </div>
      <div class="col-1"></div>
      <div class="col-3">
        <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class: "w-100"; %>
      </div>
      <div class="col-1"></div>
      <div class="col-3">
        <%= f.text_field :first_name_kana, autocomplete: "first_name_kana", class: "w-100"; %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-1"></div>
      <div class="col-3">
        <p>郵便番号(ハイフンなし)</p>
      </div>
      <div class="col-1"></div>
      <div class="col-3">
        <%= f.text_field :postal_code, autocomplete: "postal_code", class: "w-100"; %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-1"></div>
      <div class="col-3">
        <p>住所</p>
      </div>
      <div class="col-1"></div>
      <div class="col-7">
        <%= f.text_field :address, autocomplete: "address", class: "w-100"; %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-1"></div>
      <div class="col-3">
        <p>電話番号(ハイフンなし)</p>
      </div>
      <div class="col-1"></div>
      <div class="col-3">
        <%= f.text_field :telephone_number, autocomplete: "telephone_number", class: "w-100"; %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-1"></div>
      <div class="col-3">
        <p>メールアドレス</p>
      </div>
      <div class="col-1"></div>
      <div class="col-3">
        <%= f.email_field :email, autocomplete: "email", class: "w-100"; %>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 action text-center">
        <%= f.submit "編集内容を保存", class: "btn btn-success"; %>
      </div>
    </div>
  <% end %>

</div>
