<div class="container">
  <div class="row">
    <div class="col-4 mt-3">
      <h2 class="bg-light text-center">会員一覧</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-10 mx-auto">
      <table class="table table-borderless">
        <thead class="table bg-info">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>予約回数</th>
            <th>直近の予約の実施日</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td>
                <%= link_to(admin_user_path(user.id), style: "color: black; text-decoration: underline") do %>
                  <%= user.last_name %> <%= user.first_name %>
                <% end %>
              </td>
              <td><%= user.email %></td>
              <% if user.reservations.where(is_active: true).any? %>
                <td><%= user.reservations.where(is_active: true).count %></td>
                <% date = user.reservations.where(is_active: true).last.start_date %>
                <% days = ["日", "月", "火", "水", "木", "金", "土"] %>
                <td>
                  <%= link_to(admin_start_date_path(StartDate.find_by(start_date: date).id), style: "color: black; text-decoration: underline") do %>
                    <%= date %> (<%= days[date.wday] %>)
                  <% end %>
                </td>
              <% else %>
                <td>0</td>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
  </div>
</div>
