<div class="container">
  <div class="row">
    <div class="col-6 mt-3">
      <h2 class="bg-light text-center">
        <%= @user.last_name %> <%= @user.first_name %>さんの会員・予約情報
      </h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-6 text-center">
      <p>会員情報</p>
    </div>
    <div class="col-6 text-center">
      <p>予約情報（最近の５件）</p>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="bg-light" scope="col" style="width: 30%">氏名</td>
            <td scope="col" style="width: 70%">
              <%= @user.last_name %>
              <%= @user.first_name %>
            </td>
          </tr>
          <tr>
            <td class="bg-light">カナ</td>
            <td>
              <%= @user.last_name_kana %>
              <%= @user.first_name_kana %>
            </td>
          </tr>
          <tr>
            <td class="bg-light">郵便番号</td>
            <td>
              <%= @user.postal_code %>
            </td>
          </tr>
          <tr>
            <td class="bg-light">住所</td>
            <td>
              <%= @user.address %>
            </td>
          </tr>
          <tr>
            <td class="bg-light">電話番号</td>
            <td>
              <%= @user.telephone_number %>
            </td>
          </tr>
          <tr>
            <td class="bg-light">メールアドレス</td>
            <td>
              <%= @user.email %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <%= link_to "会員情報編集", edit_admin_user_path(@user.id), class: "btn btn-success text-center" %>
      </div>
    </div>
    <div class="col-6">
      <table class="table table-bordered">
        <thead class="bg-light">
          <tr>
            <td scope="col" style="width: 35%">実施日</td>
            <td scope="col" style="width: 50%">団体名</td>
            <td scope="col" style="width: 15%">人数</td>
          </tr>
        </thead>
        <tbody>
          <% days = ["日", "月", "火", "水", "木", "金", "土"] %>
          <% @reservations.each do |reservation| %>
            <tr>
              <td>
                <%= link_to(admin_start_date_path(StartDate.find_by(start_date: reservation.start_date).id), style: "color: black; text-decoration: underline") do %>
                  <%= reservation.start_date %> (<%= days[reservation.start_date.wday] %>)
                <% end %>
              </td>
              <td>
                <%= link_to(admin_reservation_path(reservation.id), style: "color: black; text-decoration: underline") do %>
                  <%= reservation.group_name %>
                <% end %>
                </td>
              <td><%= reservation.num_children + reservation.num_students + reservation.num_adults %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
