<div class="container">
  <div class="row">
    <div class="col-4 mt-3">
      <h2 class="bg-light text-center">ログイン</h2>
      <% if @user.errors.any? %>
        <h4><%= @user.errors.count %>件のエラーが発生しました</h4>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  
  <%= form_with model: @user, url: user_session_path do |f| %>
    <div class="row">
      <div class="col-10 ml-auto">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th>メールアドレス</th>
              <th class="field"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-50"; %></th>
            </tr>
            <tr>
              <th>パスワード</th>
              <th class="field"><%= f.password_field :password, autocomplete: "current-password", class: "w-50"; %></th>
            </tr>
            <tr>
              <th></th>
              <th class="action"><%= f.submit "ログイン", class: "btn btn-primary"; %></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-10 mt-5 mx-auto text-center">
      <p>会員登録がお済みでない方は、<%= link_to "こちら", new_user_registration_path %> から新規登録を行ってください。</p>
    </div>
  </div>
  
</div>
