<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4 my-3">
      <h2 class="bg-light text-center">会員登録情報</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-8 mx-auto mt-4">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="bg-light">氏名</td>
            <td>
              <%= @user.last_name %>
              <%= @user.first_name %>
            </td>
          </tr>
          <tr>
            <td class="bg-light">カナ</td>
            <td>
              <%= @user.last_name_kana %>
              <%= @user.first_name_kana %>
            </td>
          </tr>
          <tr>
            <td class="bg-light">郵便番号</td>
            <td>
              <%= @user.postal_code %>
            </td>
          </tr>
          <tr>
            <td class="bg-light">住所</td>
            <td>
              <%= @user.address %>
            </td>
          </tr>
          <tr>
            <td class="bg-light">電話番号</td>
            <td>
              <%= @user.telephone_number %>
            </td>
          </tr>
          <tr>
            <td class="bg-light">メールアドレス</td>
            <td>
              <%= @user.email %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="row">
    <div class="col-8 mx-auto mt-4">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><%= link_to "登録情報の編集", edit_user_information_path, class: "btn btn-success" %></td>
            <td><%= link_to "予約履歴一覧", reservations_path, class: "btn btn-primary" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
