<!DOCTYPE html>
<html>
  <head>
    <title>Bowling</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/feeb68efc8.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <% unless admin_signed_in? %>
            <%= link_to(root_path, class: "navbar-brand") do %>
              <span>Topページ</span>
            <% end %>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expand="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li>
                  <%= link_to(fee_path, class: "navbar-brand") do %>
                    <span>料金表</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(map_path, class: "navbar-brand") do %>
                    <span>マップ</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(lane_status_path, class: "navbar-brand") do %>
                    <span>残レーン状況</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(new_reservation_path, class: "navbar-brand") do %>
                    <span>予約ページ</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(my_page_path, class: "navbar-brand") do %>
                    <span>会員情報</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(reviews_path, class: "navbar-brand") do %>
                    <span>レビュー</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(destroy_user_session_path, method: :delete, class: "navbar-brand") do %>
                    <span>ログアウト</span>
                  <% end %>
                </li>
              <% elsif admin_signed_in? %>
                <li>
                  <%= link_to(lane_status_path, class: "navbar-brand") do %>
                    <span>残レーン状況</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(admin_users_path, class: "navbar-brand") do %>
                    <span>会員一覧</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(admin_about_path, class: "navbar-brand") do %>
                    <span>最近登録された予約</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(admin_root_path, class: "navbar-brand") do %>
                    <span>予約一覧(未)</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(admin_reservations_path, class: "navbar-brand") do %>
                    <span>予約一覧(済)</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(admin_start_dates_path, class: "navbar-brand") do %>
                    <span>カレンダー</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(reviews_path, class: "navbar-brand") do %>
                    <span>レビュー</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(admin_notifications_path, class: "navbar-brand") do %>
                    <span class="fa-stack">
                      <i class="fa-solid fa-bell fa-stack-2x"></i>
                      <% if Notification.where(checked: false).any? %>
                        <i class="fa-solid fa-circle fa-stack-1x" style="color: orange; padding-top: 0.8rem; padding-left: 1.6rem;"></i>
                      <% end %>
                    </span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(destroy_admin_session_path, method: :delete, class: "navbar-brand") do %>
                    <span>ログアウト</span>
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to(fee_path, class: "navbar-brand") do %>
                    <span>料金表</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(map_path, class: "navbar-brand") do %>
                    <span>マップ</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(lane_status_path, class: "navbar-brand") do %>
                    <span>残レーン状況</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(new_user_registration_path, class: "navbar-brand") do %>
                    <span>会員登録</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(new_user_session_path, class: "navbar-brand") do %>
                    <span>ログイン</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(reviews_path, class: "navbar-brand") do %>
                    <span>レビュー</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <p class="notice"><%= notice %></p>
      <%= yield %>
    </main>

    <% unless admin_signed_in? %>
      <footer class="mt-4 bg-secondary py-4 text-white">
        <div class="container">
          <div class="row">
            <div class="col-6 mx-auto">
              <p>〒○○○-○○○○</p>
              <p>○○県△△市□□町××</p>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-6 mx-auto">
              <i class="fa-solid fa-phone mr-1"></i><span class="mr-4">xxx-yyy-zzzz</span>
              <i class="fa-regular fa-envelope ml-4"></i><span class="ml-1">satokakeru_bowl@gmail.com</span>
            </div>
          </div>
        </div>
      </footer>
    <% end %>
  </body>
</html>
